# Environment Variables
.env
.env*.local

# Dependencies
node_modules/
bower_components/

# Build & Output
dist/
web-build/
build/Release
coverage/
lib-cov/
.nyc_output/
*.tgz
*.tsbuildinfo

# Expo
.expo/
expo-env.d.ts

# Generated Native Folders
/ios
/android
.kotlin/
*.orig.*

# Metro
.metro-health-check*

# Logs & Debug
logs
*.log
npm-debug.log*
npm-debug.*
yarn-debug.log*
yarn-debug.*
yarn-error.log*
yarn-error.*
firebase-debug.log*
firebase-debug.*.log*

# Runtime Data
pids
*.pid
*.seed
*.pid.lock

# Secrets & Keys
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Firebase
.firebase/
.dataconnect

# Firebase Config
# Uncomment this if you'd like others to create their own Firebase project.
# For a team working on the same Firebase project(s), it is recommended to leave
# it commented so all members can deploy to the same project(s) in .firebaserc.
# .firebaserc

# OS-specific
.DS_Store

# Optional Caches & History
.npm
.eslintcache
.node_repl_history
.yarn-integrity

# Other
.grunt
.lock-wscript